body,td,th {
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-size: 14px;
	color: #282828;
}

a {
	color: #333;
		text-decoration:#none;
}

a:hover {
	color: #333;
	text-decoration:#underline;
}
a:active {
	color: #333;
	text-decoration:#none;
}
th {
	border: 0px;
}
td {
	border: 0px;
}
.title {
background:url(header.jpg);
	text-align: left;
	padding:0 0 0 5px;
	font-size: 45px;
	color: #fff;
	vertical-align: middle;
	height:180px;
	font-family:Times;
}

.nav {
	border-bottom: 1px solid #E6E4CA;
}
.navHover {
	cursor: pointer;
background-color:#C4BCA8;
}
.navLastHover {
	cursor: pointer;
	border-left: 3px solid #A9A38D;
	font-weight: bold;
}
.navHead {
	color: #ffffff;
	background-color: #676CA7;
}

.content {
	border-top: 1px dashed #E6E4CA;
	border-bottom: 1px dashed #E6E4CA;
	margin-left: 2em;
	font-size: 12px;
	line-height: 2em;
	font-align:left;
}
.divider {
	border-left: 1px solid #E6E4CA;
}